MASTODON_BASE_URL=https://th3v151t0r5.bond
MASTODON_ACCESS_TOKEN=	asvKhOe6kj293Vo1RyULdpKEDS7pK7X5Ne_HeCoptp4

GOOGLE_CREDENTIALS_PATH=credentials.json
SPREADSHEET_KEY=13igtHBHekCopbd_wN47OaKTftmJYW10z4x4CpnAlXig

BOT_ACCOUNT=@UPSIDE
TIMEZONE=Asia/Seoul
